@font-face {
    font-family:Nunito;
    src:url(../fonts/Nunito/Nunito-ExtraLight.ttf);
}
@font-face {
    font-family:Nunito-bold;
    src:url(../fonts/Nunito/Nunito-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
	height: 100vh;
	font-family: 'Nunito';
	background: #F9F9F9;
}
.body-container{
	height: 100%;
	display: grid;
	grid-template-rows: 60px 1fr 50px;
}
/*---------header---------*/
.header, .footer{
	background: #191919;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-title{
	font-size: 1.2em;
	font-weight: 100;
	color: #fff;
	padding-left: .5em;
	text-align: center;
}
.footer{
	justify-content: flex-end;
}
.info-footer{
	color: #fff;
	padding-right: .5em;
}
/*------main box------*/

.main-box{
	/*min-height: 100%;*/
	display: grid;
	grid-template-columns: repeat(8,1fr);
	grid-template-rows: repeat(8,1fr);
	grid-gap: 20px;
	padding: 20px;
}
.box-info{
	display: grid;
	height: 100%;
	grid-template-rows: 15% 1fr;
	border-radius: 10px;
	box-shadow: 0 1px 2px rgba(25,25,25,0.2);
	background: #fff;
}
.box-head{
	background: #191919;
	/*display: block;*/
	border-radius: 10px 10px 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 13px;
}
.box-body{
	display: block;
	border-radius: 0 0 10px 10px;
}

.ingreso-datos{
	grid-column-start: 1;
  	grid-column-end: 5;
  	grid-row-start: 1;
  	grid-row-end: 5;
}
.validaciones{
	grid-column-start: 5;
  	grid-column-end: 9;
  	grid-row-start: 1;
  	grid-row-end: 5;
}
.resultados{
	grid-column-start: 1;
  	grid-column-end: 9;
  	grid-row-start: 5;
  	grid-row-end: 9;
}
.validaciones .box-body{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
}
.prueba-table{
	height: 100%;
	width: 100%;
	font-size: 13px;
}

.thead tr th{
  border-bottom: 1px solid #eee; 
}
.prueba-table .aceptada{
	color: #10B22B;
	font-weight: 800;
}
.prueba-table .rechazada{
	color: #B12508;
	font-weight: 800;
}
.ingreso-datos .box-body{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.2em 3.5em;
}
.input-form{
	height: 100%;
	width: 100%;
	font-size: 14px;
}
.input-form table{
	height: 100%;
	width: 100%;
}
.box-body .input-form input{
	height: 30px;
    line-height: 30px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    color: #707070;
}
#btn-generar{
	font-family: Nunito-bold, san-serif;
	background: #1A73E8;
	color: #fff;
	width: 80px;
	display: block;
	float: right;
	outline-width: 0;
    border-radius: 3px;
	font-weight: 600;
	border: none;
	height: 32px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .75em;
	margin: 3px;
}
#btn-generar:hover{
	cursor: pointer;
	box-shadow: 0 2px 3px rgb(26,115,232,0.2);
}

.resultados .box-body{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.resultados .box-body .box-body-secondpart{
	height: 93%;
	width: 100%;
	display: flex;
	text-align: right;
	font-size: 13px;
	padding-right: 10%;
	align-items: flex-end;
	flex-direction: column;
	justify-content: center;
	border-left: 1px solid #eee;
}
.resultados .box-body .box-body-secondpart p{
	padding: .2em;
}
.resultados .box-body .box-body-secondpart p:first-child{
	border-bottom: 1px solid #eee;
	display: inline;
}
.resultados .box-body .box-body-secondpart a{
	text-decoration: underline;
	color: #1A73E8;
}
.resultados .box-body .box-body-firstpart{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 14px;
}
.resultados .box-body .box-body-firstpart .title-download{
	border-bottom: 1px solid #eee;
	margin-bottom: 1em;
}
.resultados .box-body .box-body-firstpart .link-download{
	margin: .4em 0;
}
.resultados .box-body .box-body-firstpart img{
	width: 1.3em;
	height: 1em;
}
.resultados .box-body .box-body-firstpart .active{
	color: #1A73E8;
}
.resultados .box-body .box-body-firstpart .active-green{
	color: #10B22B;
}
.resultados .box-body .box-body-firstpart .not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #BDBABA;
}

@media (max-width: 900px){
	#btn-generar{
		width: 75px;
	}
	.main-box{
		/*min-height: 90vh;*/
	}
	.ingreso-datos .box-body{
		padding: 2em 3em;
	}
	.validaciones .box-body{
		padding: 10px;
	}
}

@media (max-width: 520px){
	.header-title{
		font-size: 15px;
	}
	.main-box{
		font-size: 14px;
		/*min-height: 90vh;*/
	}
	.main-box{
		min-height: 100vh;
		display: grid;
		grid-template-columns: repeat(8,1fr);
		grid-template-rows: repeat(20,1fr);
		grid-gap: 15px;
		padding: 15px;
	}
	.ingreso-datos{
		grid-column-start: 1;
	  	grid-column-end: 9;
	  	grid-row-start: 1;
	  	grid-row-end: 7;
	}
	.validaciones{
		grid-column-start: 1;
	  	grid-column-end: 9;
	  	grid-row-start: 7;
	  	grid-row-end: 14;
	}
	.resultados{
		grid-column-start: 1;
	  	grid-column-end: 9;
	  	grid-row-start: 14;
	  	grid-row-end: 21;
	}
	.ingreso-datos .box-body{
		padding: .5em 1em;
	}
	
	.validaciones .box-body{
		padding: 10px;
	}
}
@media (max-width: 420px){
	.main-box{
		font-size: 14.5px;
		min-height: 150vh;
		display: grid;
		grid-template-columns: repeat(8,1fr);
		grid-template-rows: repeat(23,1fr);
		grid-gap: 10px;
		padding: 10px;
	}
	.ingreso-datos{
		grid-column-start: 1;
	  	grid-column-end: 9;
	  	grid-row-start: 1;
	  	grid-row-end: 8;
	}
	.validaciones{
		grid-column-start: 1;
	  	grid-column-end: 9;
	  	grid-row-start: 8;
	  	grid-row-end: 16;
	}
	.resultados{
		grid-column-start: 1;
	  	grid-column-end: 9;
	  	grid-row-start: 16;
	  	grid-row-end: 24;
	}
}
.error{
	color: red;
}
.waiting{
	color: #3498db;
}

