@font-face {
    font-family:Nunito;
    src:url(../fonts/Nunito/Nunito-ExtraLight.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
	height: 100vh;
	font-family: 'Nunito';
}
/*.title{
	font-family: 'Nunito', sans-serif;
	color: blue;
	font-size: 17px;
	text-transform: uppercase;
}*/

.grid-container{
	min-height: 100vh;
	display: grid;
	padding: 25px;
	grid-template-areas: 
		"head head head"
		"menu main main"
		"menu main main"
		"menu main main"
		"menu main main"
		"menu foot foot"
		"menu foot foot";
	grid-gap: 20px;
}

@media screen and (max-width: 500px) {
  .grid-container {
  	min-height: 100vh;
	display: grid;
	padding: 20px;
    grid-template-areas:
      "head"
      "menu"
      "menu"
      "menu"
      "main"
      "main"
      "main"
      "foot"
      "foot"
      "foot";
     grid-gap: 10px;
  }
}

.generacion, .algoritmo, .ingreso, .descarga{
	border-radius: 10px;
	border: 1px solid #3498db;
	display: flex;
	align-items: center;
	justify-content: center;
}

.generacion{
	grid-area: head;
}
.algoritmo{
	grid-area: menu;
	flex-direction: column;
}
.ingreso{
	grid-area: main;
}
.descarga{
	grid-area: foot;
}
.algoritmo .metodos{
	margin-top: 10px; 
}
.algoritmo a{
	display: block;
}
.descarga a{
	color: blue;
}